<footer class="bg-light border-top py-3 mt-auto">
  <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
    <a href="#"
       class="navbar-brand mb-2 mb-md-0 text-secondary d-flex align-items-center text-cornflower">
      <i class="fa-regular fa-copyright me-1"></i> 2025 Bookmynest, Inc
    </a>
    <ul class="nav mb-2 mb-md-0">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted legal hover-underline">Privacy</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted legal hover-underline">Terms</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted legal hover-underline">Company details</a>
      </li>
    </ul>
    <div class="d-flex">
      <a href="#"
         class="text-muted fs-4 me-3 hover-underline"
         aria-label="Facebook">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
      <a href="#"
         class="text-muted fs-4 me-3 hover-underline"
         aria-label="Twitter">
        <i class="fa-brands fa-square-x-twitter"></i>
      </a>
      <a href="#"
         class="text-muted fs-4 hover-underline"
         aria-label="Instagram">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
    </div>
  </div>
</footer>
